.row-warning {
    border: 1px solid rgb(235, 235, 235);
    background-color: rgba(0, 0, 0, 0.01);
}
.row-error {
  border: 1px solid rgb(202, 19, 19);
  background-color: rgba(0, 0, 0, 0.01);
}
.row {
  border: 1px solid rgba(0, 0, 0, 0.089);

}

